@model Proyecto_BD.Models.Medico

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Medico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Apellido_Materno)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especialidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especialidad.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consultorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consultorio.Numero_Consultorio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jornada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jornada.descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ID_Medico">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
