@model Proyecto_BD.Models.Medico

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Medico</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @(Model?.Usuario?.Nombre + " " + Model?.Usuario?.Apellido_Paterno + " " + Model?.Usuario?.Apellido_Materno)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Correo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Correo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.Fecha_Nacimiento)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.Fecha_Nacimiento)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario.CURP)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.CURP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Especialidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Especialidad.Descripcion)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Especialidad.PrecioCita)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Especialidad.PrecioCita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Consultorio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Consultorio.Numero_Consultorio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Jornada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Jornada.descripcion)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="EditarDatos" asp-route-id="@Model?.ID_Medico" class="btn btn-primary me-2">Modificar Datos</a>
    <a asp-action="VerCitas" class="btn btn-secondary me-2">Ver Citas</a>
    <a asp-action="VerRecetas" class="btn btn-info">Ver Recetas</a>
</div>


