@model IEnumerable<Proyecto_BD.Models.Medico>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID_Medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cedula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Especialidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Consultorio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Jornada)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Usuario.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cedula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Especialidad.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Consultorio.Numero_Consultorio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Jornada.descripcion)
            </td>
            <td>
                <a asp-action="AsignarConsultorio" asp-route-id="@item.ID_Medico" class="btn btn-primary me-2">Asignar Consultorio</a>
                <a asp-action="AsignarJornada" asp-route-id="@item.ID_Medico" class="btn btn-primary">Asignar Jornada</a>
            </td>
        </tr>
}
    </tbody>
</table>
