@model IEnumerable<Proyecto_BD.Models.Ventas>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Venta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Recepcionista)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha_Venta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Recepcionista.ID_Recepcionista)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Ventas">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Ventas">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Ventas">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
