@model IEnumerable<Proyecto_BD.Models.Ticket>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Venta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medicina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Servicio)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Venta.ID_Ventas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Medicina.Nombre_Medicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Servicio.Descripcion)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID_Ticket">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID_Ticket">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID_Ticket">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
