@model IEnumerable<Proyecto_BD.Models.Receta>

@{
    ViewData["Title"] = "Index";
}

<h1>Recetas</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Diagnostico)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cita.ID_Cita)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Diagnostico)
            </td>
            <td>
                <a asp-action="VerTratamientos" asp-route-id="@item.ID_Receta">Tratamientos</a>
            </td>
        </tr>
}
    </tbody>
</table>
