@model IEnumerable<Proyecto_BD.Models.Medicina>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Agregar Nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio_Medicina)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre_Medicina)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Precio_Medicina)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre_Medicina)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.ID_Medicina" class="btn btn-primary">Editar Unidades</a>
            </td>
        </tr>
}
    </tbody>
</table>
