@model Proyecto_BD.Models.Paciente

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Paciente</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ID_Paciente" />
            <input type="hidden" asp-for="ID_Usuario" />
            <span style="color:red">@Html.Raw(ViewBag.Error)</span>
            <div class="form-group">
                <label for="Nombre" class="control-label">Nombre</label>
                <input name="Nombre" id="Nombre" class="form-control" required value="@Model.Usuario.Nombre"/>
            </div>
            <div class="form-group">
                <label for="ApPa" class="control-label">Apellido Paterno</label>
                <input name="ApPa" id="ApPa" class="form-control" required value="@Model.Usuario.Apellido_Paterno"/>
            </div>
            <div class="form-group">
                <label for="ApMa" class="control-label">Apellido Materno</label>
                <input name="ApMa" id="ApMa" class="form-control" required value="@Model.Usuario.Apellido_Materno"/>
            </div>
            <div class="form-group">
                <label for="Correo" class="control-label">Correo</label>
                <input name="Correo" id="Correo" class="form-control" required type="email" value="@Model.Usuario.Correo"/>
            </div>
            <div class="form-group">
                <label for="FechaNacimiento" class="control-label">FechaNacimiento</label>
                <input name="FechaNacimiento" id="FechaNacimiento" class="form-control" required type="date"/>
            </div>          
            <div class="form-group">
                <label asp-for="ID_Tipo_Sangre" class="control-label"></label>
                <select asp-for="ID_Tipo_Sangre" class="form-control" asp-items="ViewBag.ID_Tipo_Sangre"></select>
                <span asp-validation-for="ID_Tipo_Sangre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Peso" class="control-label"></label>
                <input asp-for="Peso" class="form-control" />
                <span asp-validation-for="Peso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Alergia" class="control-label"></label>
                <input asp-for="Alergia" class="form-control" />
                <span asp-validation-for="Alergia" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Estatura" class="control-label"></label>
                <input asp-for="Estatura" class="form-control" />
                <span asp-validation-for="Estatura" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Regresar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
