@model Proyecto_BD.Models.Cita

@{
    ViewData["Title"] = "Delete";
}

<h1>Cancelar</h1>

<div>
    <h4>Cita</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Paciente)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Paciente.Usuario.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Medico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Medico.Usuario.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha_Cita)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha_Cita)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CitasHorario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CitasHorario.Hora_Cita)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID_Cita" />
        <input type="submit" value="Cancelar" class="btn btn-danger" /> |
        <a asp-action="Index">Regresar</a>
    </form>
</div>
