@model IEnumerable<Proyecto_BD.Models.Cita>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (TempData["TipoUsuario"].ToString() == "Paciente")
{
    <a asp-action="Cancelar">Regresar</a>
}

@if (TempData["TipoUsuario"].ToString() == "Doctor")
{
    <a asp-action="CancelarDoctor">Regresar</a>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Paciente)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Medico)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Registro)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha_Cita)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CitasHorario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstatusCita)
            </th>
            @if (TempData["TipoUsuario"].ToString() == "Doctor")
            { 
                <th>
                    <label>Bitacora</label>
                </th>
                <th>
                    <label>Atender</label>
                </th>               
            }
            @if (TempData["TipoUsuario"].ToString() == "Paciente" || TempData["TipoUsuario"] == null)
            {
                <th>
                    <label>Cancelar</label>
                </th>
            }
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Paciente.Usuario.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Medico.Usuario.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Registro)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Fecha_Cita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CitasHorario.Hora_Cita)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EstatusCita.Estatus_Cita)
                </td>

                @if (TempData["TipoUsuario"].ToString() == "Doctor")
                {
                   <td>
                        <a asp-action="VerBitacora" asp-route-id="@item.ID_Paciente">Ver Bitacora</a>
                   </td>

                    @if (item.Fecha_Cita.Date == DateTime.Now.Date)
                    {                        
                        <td>
                            <a asp-action="Agregarreceta" asp-route-id="@item.ID_Cita">Agregar Receta</a>
                        </td>
                    }                    
                }

                @if ((TempData["TipoUsuario"].ToString() == "Paciente" || TempData["TipoUsuario"] == null) && ((item.Fecha_Cita - DateTime.Now).TotalSeconds > 0) && item.ID_Estatus_Cita < 3)
                {
                    <td>
                        <a asp-action="Delete" asp-route-id="@item.ID_Cita">Cancelar</a>
                    </td>
                }

            @if (TempData["TipoUsuario"] == null)
            {
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID_Cita">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID_Cita">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID_Cita">Delete</a>
                </td>
            }       
        </tr>
}
    </tbody>
</table>
